Je définis le chemin racine du projet : sinon, j'ai du mal à lire les données (pyhton va les chercher dans le fichier notebooks)

In [ ]:
import os
import sys

# Définir le chemin racine du projet
project_root = os.path.abspath("/Users/sacharatsavong/Desktop/Python/projet_python_roland_sacha")
sys.path.append(project_root)

# Changer le directory courant
os.chdir(project_root)

print("Current working directory:", os.getcwd())

In [20]:
import pandas as pd

df = pd.read_csv("data/raw/paris-2024-results-medals-oly-eng.csv", sep=";")

df.head()

,Medal_type,Medal_code,Medal_date,Name,Gender,Discipline,Code_Discipline,Event,url_event,Country_code,Country
0,Bronze Medal,3,2024-06-08,Amin MIRZAZADEH,M,Wrestling,WRE,Men's Greco-Roman 130kg,https://olympics.com/en/paris-2024/results/wre...,IRI,IR Iran
1,Silver Medal,2,2024-11-08,Elodie CLOUVEL,W,Modern Pentathlon,MPN,Women's Individual,https://olympics.com/en/paris-2024/results/mod...,FRA,France
2,Gold Medal,1,2024-01-08,Giovanni de GENNARO,M,Canoe Slalom,CSL,Men's Kayak Single,https://olympics.com/en/paris-2024/results/can...,ITA,Italy
3,Silver Medal,2,2024-06-08,Josh KERR,M,Athletics,ATH,Men's 1500m,https://olympics.com/en/paris-2024/results/ath...,GBR,Great Britain
4,Bronze Medal,3,2024-07-28,Gusman KYRGYZBAYEV,M,Judo,JUD,Men -66 kg,https://olympics.com/en/paris-2024/results/jud...,KAZ,Kazakhstan

Je cherche maintenant à créer un autre tableau qui compte le nombre de médailles par pays

In [ ]:
# On garde uniquement les lignes où il y a une médaille (Medal_type non vide)
# On ne garde que les colonnes utiles : Country, Country_code, Medal_type
df_medals = df[df["Medal_code"].notna()][["Country", "Country_code", "Medal_type"]]

# On regroupe par pays et par type de médaille, puis on compte le nombre de lignes
# .size() = compte le nombre de médailles par groupe
# .unstack() = transforme les types de médailles en colonnes (Gold / Silver / Bronze)
medals_by_country = (
    df_medals
    .groupby(["Country", "Medal_type"])
    .size()
    .unstack(fill_value=0)        # met 0 au lieu de NaN quand un pays n'a pas une médaille donnée
)

# On ajoute une colonne Total = somme des colonnes médailles
medals_by_country["Total"] = medals_by_country.sum(axis=1)

# On trie les pays du plus médaillé au moins médaillé
medals_by_country = medals_by_country.sort_values("Total", ascending=False)

medals_by_country.head()

Medal_type     Bronze Medal  Gold Medal  Silver Medal  Total
Country
United States            42          40            44    126
China                    24          40            27     91
Great Britain            29          14            22     65
France                   22          16            26     64
Australia                16          18            19     53