In [32]:
import pandas as pd
import matplotlib.pyplot as plt

import os
import sys

# Définir le chemin racine du projet
project_root = os.path.abspath("/Users/sacharatsavong/Desktop/Python/projet_python_roland_sacha")
sys.path.append(project_root)

# Changer le directory courant
os.chdir(project_root)

In [33]:
df = pd.read_csv("data/raw/df_merged.csv")
depenses_eu = pd.read_csv("data/raw/depenses_sports_UE.csv")

In [34]:
# On prend le df à partir de 2012

df = df[df["Year"] >= 2012]

In [35]:
# Merge des données

df_merged = df.merge(
    depenses_eu, 
    on=['Year', 'Country'],
    how="right",
)

In [36]:
df.head()

,Unnamed: 0,Year,Country,Score,Country Code,PIB_mean,HDI,Dépenses
0,0,2015.0,Germany,NaN,NaN,NaN,NaN,2.0
1,1,2016.0,Germany,115.0,DEU,45709.422975,0.948,2.0
2,2,2017.0,Germany,NaN,NaN,NaN,NaN,2.0
3,3,2018.0,Germany,NaN,NaN,NaN,NaN,2.0
4,4,2019.0,Germany,NaN,NaN,NaN,NaN,2.0

In [37]:
depenses_eu.head()

   Country  Year  Dépenses
0  Germany  2015       2.0
1  Germany  2016       2.0
2  Germany  2017       2.0
3  Germany  2018       2.0
4  Germany  2019       2.0

In [38]:
df_merged.head(10)

,Unnamed: 0,Year,Country,Score,Country Code,PIB_mean,HDI,Dépenses_x,Dépenses_y
0,0,2015.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
1,1,2016.0,Germany,115.0,DEU,45709.422975,0.948,2.0,2.0
2,2,2017.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
3,3,2018.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
4,4,2019.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
5,5,2020.0,Germany,NaN,NaN,NaN,NaN,2.2,2.2
6,6,2021.0,Germany,88.0,DEU,47351.272566,0.955,2.0,2.0
7,7,2022.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
8,8,2023.0,Germany,NaN,NaN,NaN,NaN,2.0,2.0
9,9,2015.0,Austria,NaN,NaN,NaN,NaN,2.5,2.5

In [39]:
df_merged.to_csv("data/raw/df_merged.csv")