In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import os
import sys

# Définir le chemin racine du projet
project_root = os.path.abspath("/Users/sacharatsavong/Desktop/Python/projet_python_roland_sacha")
sys.path.append(project_root)

# Changer le directory courant
os.chdir(project_root)

In [25]:
df = pd.read_csv("data/raw/df_merged.csv")
depenses_eu = pd.read_csv("data/raw/depenses_sports_UE.csv")

In [26]:
# On prend le df à partir de 2012

df = df[df["Year"] >= 2012]

In [29]:
# Merge des données

df_merged = df.merge(
    depenses_eu, 
    on=['Year', 'Country'],
    how="outer"
)

In [27]:
df.head()

,Year,Country,Score,Country Code,PIB_mean,HDI
1986,2012.0,Afghanistan,1.0,AFG,500.275781,NaN
1987,2012.0,Afrique du Nord et Moyen-Orient (BIRD et IDA),NaN,TMN,2805.615171,NaN
1988,2012.0,Afrique du Nord et Moyen-Orient (hors revenu é...,NaN,MNA,2803.070586,NaN
1989,2012.0,Afrique subsaharienne,NaN,SSF,1585.800416,NaN
1990,2012.0,Afrique subsaharienne (BIRD et IDA),NaN,TSS,1585.800416,NaN

In [28]:
depenses_eu.head()

   Country  Year  Dépenses
0  Germany  2015       2.0
1  Germany  2016       2.0
2  Germany  2017       2.0
3  Germany  2018       2.0
4  Germany  2019       2.0

In [30]:
df_merged.head()

,Year,Country,Score,Country Code,PIB_mean,HDI,Dépenses
0,2012.0,Afghanistan,1.0,AFG,500.275781,NaN,NaN
1,2012.0,Afrique du Nord et Moyen-Orient (BIRD et IDA),NaN,TMN,2805.615171,NaN,NaN
2,2012.0,Afrique du Nord et Moyen-Orient (hors revenu é...,NaN,MNA,2803.070586,NaN,NaN
3,2012.0,Afrique subsaharienne,NaN,SSF,1585.800416,NaN,NaN
4,2012.0,Afrique subsaharienne (BIRD et IDA),NaN,TSS,1585.800416,NaN,NaN

In [31]:
df_merged.to_csv("data/raw/df_merged.csv")