In [1]:
import pandas as pd
import matplotlib.pyplot as plt

import os
import sys

# Définir le chemin racine du projet
project_root = os.path.abspath("/Users/sacharatsavong/Desktop/Python/projet_python_roland_sacha")
sys.path.append(project_root)

# Changer le directory courant
os.chdir(project_root)

In [7]:
dep_us = pd.read_csv("data/raw/G161061A027NBEA.csv")
pib = pd.read_csv("data/raw/GDP.csv")

In [11]:
pib.head()

   observation_date      GDP
48       1959-01-01  510.330
49       1959-04-01  522.653
50       1959-07-01  525.034
51       1959-10-01  528.600
52       1960-01-01  542.648

In [9]:
dep_us.head()

  observation_date  G161061A027NBEA
0       1959-01-01            0.598
1       1960-01-01            0.645
2       1961-01-01            0.729
3       1962-01-01            0.724
4       1963-01-01            0.764

In [10]:
pib = pib[pib['observation_date'] >= '1959-01-01']

In [13]:
dep_us2 = dep_us \
    .merge(pib, on='observation_date', how='left')

In [14]:
dep_us2.head()

  observation_date  G161061A027NBEA      GDP
0       1959-01-01            0.598  510.330
1       1960-01-01            0.645  542.648
2       1961-01-01            0.729  545.018
3       1962-01-01            0.724  594.013
4       1963-01-01            0.764  621.672

In [15]:
dep_us2['OBS_VALUE'] = dep_us2['G161061A027NBEA'] / dep_us2['GDP']

In [19]:
dep_us2 = dep_us2.rename(columns={'G161061A027NBEA' : 'Dépenses fédérales'})

In [20]:
dep_us2.tail()

   observation_date  Dépenses fédérales        GDP  OBS_VALUE
60       2019-01-01              38.660  21111.600   0.001831
61       2020-01-01              38.966  21751.238   0.001791
62       2021-01-01              40.503  22680.693   0.001786
63       2022-01-01              43.363  25250.347   0.001717
64       2023-01-01              43.342  27216.445   0.001592